@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("Open Sans Regular"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("Open Sans Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.about-us__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .about-us__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 100px; } }
  @media (min-width: 1150px) {
    .about-us__list {
      grid-column-gap: 115px; } }

.about-us__heading {
  margin-bottom: 28px; }

.about-us__item {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .about-us__item {
      font-size: 20px;
      line-height: 22px; } }

.about-us__item:last-child {
  margin-bottom: 0; }

.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444; }

@media (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column; } }

@media (min-width: 1150px) {
  .contacts {
    display: grid;
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 69px; } }

.contacts__list {
  font-size: 14px;
  line-height: 30px;
  color: #444444; }
  @media (min-width: 768px) {
    .contacts__list {
      font-size: 17px;
      display: flex; } }

.contacts__item {
  text-transform: lowercase; }

.contacts__description--email {
  border-bottom: 1px solid #63d1bb; }

.contacts__location {
  border: none; }
  @media (min-width: 1150px) {
    .contacts__location {
      grid-column: 2/3;
      grid-row: 1/-1; } }

.contacts__write-us {
  display: block;
  padding: 12px; }
  @media (min-width: 768px) {
    .contacts__write-us {
      display: inline;
      margin: 0 auto;
      padding: 12px 40px; } }
  @media (min-width: 1150px) {
    .contacts__write-us {
      margin-top: auto;
      margin-left: 0; } }

.customer-contacts {
  margin: 0;
  padding: 0;
  list-style: none; }

.customer-name {
  margin: 0;
  padding: 0;
  list-style: none; }

.development-process__heading {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px; }

.development-process__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444; }

.development-process__order {
  padding: 18px 11px;
  background-color: transparent;
  box-shadow: none; }

.form-group {
  border: none; }

.form-group__heading {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb; }

.form__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444; }

.form__clarification {
  font-size: 14px;
  line-height: 16px;
  color: #444444; }

.form__button {
  padding: 18px 37px;
  background-color: transparent; }

.input-checkbox__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px; }

.input-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.input-list__item {
  margin-bottom: 23px; }
  .input-list__item:last-child {
    margin-bottom: 0; }

.input-radio__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px; }

.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 768px) {
    .main-nav {
      display: grid;
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content); } }
  @media (min-width: 1150px) {
    .main-nav {
      grid-template-columns: 4fr 2fr 1fr 3fr; } }

.main-nav__toggle {
  position: absolute;
  border: none;
  background-color: transparent;
  box-shadow: none; }
  .main-nav__toggle--open {
    display: none; }

.main-nav__logo {
  margin-bottom: 22px; }

.main-nav__link {
  display: block;
  padding: 27px 0;
  color: #000000;
  border-bottom: 1px solid #ececec; }
  .main-nav__link:first-child {
    border-top: 1px solid #ececec; }
    @media (min-width: 768px) {
      .main-nav__link:first-child {
        border: none; } }
    @media (min-width: 1150px) {
      .main-nav__link:first-child {
        border: none; } }
  @media (min-width: 768px) {
    .main-nav__link {
      border: none; } }
  @media (min-width: 1150px) {
    .main-nav__link {
      border: none; } }
  .main-nav__link--search {
    order: 3;
    color: #000000; }
  .main-nav__link--cart {
    order: 4;
    color: #000000; }
  @media (min-width: 768px) {
    .main-nav__link--search {
      order: 0;
      background-image: url("../img/search.svg");
      background-repeat: no-repeat; }
    .main-nav__link--cart {
      order: 0;
      text-align: right; } }

@media (min-width: 768px) {
  .main-nav__label {
    display: none; } }

.main-nav__delivery {
  font-size: 15px;
  display: none;
  text-align: right;
  color: #444444; }
  @media (min-width: 768px) {
    .main-nav__delivery {
      display: inline-block; } }
  @media (min-width: 1150px) {
    .main-nav__delivery {
      grid-column: 4/5; } }

.main-nav__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }
  .main-nav__list--offers {
    display: none; }
    @media (min-width: 1150px) {
      .main-nav__list--offers {
        display: flex; } }
  @media (min-width: 768px) {
    .main-nav__list--site {
      display: flex;
      grid-column: 1/3; } }
  @media (min-width: 1150px) {
    .main-nav__list--site {
      order: -1;
      grid-column: auto; } }

.main-title {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  background-color: #f1f1f1; }
  @media (min-width: 768px) {
    .main-title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .main-title {
      font-size: 53px;
      line-height: 57px; } }

@media (min-width: 768px) {
  .offers-list__item {
    margin-right: 36px; } }

@media (min-width: 1150px) {
  .offers-list__item {
    margin-right: 45px; } }

.offers-list__item .main-nav__link {
  font-size: 15px;
  line-height: 24px; }

.page-footer {
  background-color: #f1f1f1; }
  @media (min-width: 768px) {
    .page-footer {
      display: flex;
      flex-direction: row; } }

.page-footer__logo {
  display: none; }
  @media (min-width: 768px) {
    .page-footer__logo {
      display: inline; } }

.page-footer__social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.page-footer__developer-label {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: #000000; }

.page-header {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000; }

.page-header__item {
  margin: 0 auto;
  padding-top: 22px; }

.page-main__title {
  margin: 0;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center; }
  .page-main__title--index {
    padding-bottom: 120px; }
    @media (min-width: 768px) {
      .page-main__title--index {
        padding-top: 155px;
        padding-bottom: 372px; } }

.page {
  box-sizing: border-box; }

.page__body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  min-height: 100%;
  margin: 0;
  background-color: #ffffff; }

@media (min-width: 768px) {
  .popular-product {
    display: grid;
    grid-column-gap: 42px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, -webkit-max-content);
    grid-template-rows: repeat(5, max-content); } }

@media (min-width: 1150px) {
  .popular-product {
    grid-column-gap: 58px; } }

@media (min-width: 768px) {
  .popular-product__heading {
    grid-column: 1/-1; } }

.popular-product__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  color: #63d1bb; }
  @media (min-width: 768px) {
    .popular-product__label {
      position: absolute; } }

.popular-product__description {
  font-size: 15px;
  line-height: 24px;
  color: #444444; }
  @media (min-width: 768px) {
    .popular-product__description {
      font-size: 17px;
      line-height: 30px; } }

.popular-product__specification {
  font-size: 15px;
  line-height: 20px;
  color: #444444; }

.popular-product__price {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #444444; }
  @media (min-width: 768px) {
    .popular-product__price {
      font-size: 20px;
      line-height: 24px; } }

.popular-product__order-button {
  padding: 16px 70px; }
  @media (min-width: 768px) {
    .popular-product__order-button {
      font-size: 17px; } }

@media (min-width: 768px) {
  .popular-product__image {
    grid-row: 2/-1;
    grid-column: 2/3; } }

.products-categories {
  font-size: 19px;
  font-weight: 700;
  line-height: 30px; }

.products-categories__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .products-categories__list {
      display: flex; } }

@media (min-width: 768px) {
  .products-categories__item {
    width: 50%; } }

.products-categories__item--interior {
  background-color: #63d1bb; }

.products-categories__item--toys {
  background-color: #56c3b2; }

.products-categories__link {
  color: #ffffff; }
  @media (min-width: 768px) {
    .products-categories__link {
      font-size: 20px;
      line-height: 30px; } }

.products__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.products__item {
  border: 1px solid #ececec; }

.products__name {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000; }

.products__description {
  font-size: 13px;
  line-height: 30px;
  color: #444444; }

.products__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px; }

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.reviews__item {
  position: relative;
  display: none; }

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  color: #444444; }
  @media (min-width: 768px) {
    .reviews__text {
      font-size: 17px; } }

.reviews__author-name {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px; }
  @media (min-width: 768px) {
    .reviews__author-name {
      font-size: 18px; } }
  @media (min-width: 1150px) {
    .reviews__author-name {
      font-size: 17px; } }

.reviews__author-link {
  font-size: 17px;
  line-height: 30px;
  color: #444444; }

.reviews__button {
  display: inline;
  width: 49%;
  outline: none;
  box-shadow: none; }
  @media (min-width: 768px) {
    .reviews__button {
      position: absolute; } }

.reviews__write-button {
  display: block;
  padding: 16px;
  border: 1px solid #ececec;
  background-color: transparent;
  box-shadow: none; }
  @media (min-width: 768px) {
    .reviews__write-button {
      font-size: 17px;
      position: absolute; } }

.section-heading {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px; }
  @media (min-width: 768px) {
    .section-heading {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .section-heading {
      font-size: 53px;
      line-height: 57px; } }

@media (min-width: 768px) {
  .site-list__item {
    margin-right: 36px; } }

@media (min-width: 1150px) {
  .site-list__item {
    margin-right: 41px; } }

.slider-shown {
  display: block; }

.text-input {
  font-size: 17px;
  font-weight: 700; }
  .text-input--name {
    margin-bottom: 22px; }
  .text-input--contacts {
    margin-bottom: 35px; }
  .text-input:last-child {
    margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
