.about-us__wrapper {
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    padding-left: 225px;
  }
}

.about-us__list {
  display: grid;
  margin: 83px 0 0;
  padding: 0;
  list-style: none;
  grid-row-gap: 83px;

  @media (min-width: 550px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, max-content);
    grid-column-gap: 100px;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 115px;
  }
}

.about-us__heading {
  margin-bottom: 28px;
}

.about-us__item {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  position: relative;

  &:nth-child(2n) {
    order: 1;

    @media (min-width: 550px) {
      order: 0;
    }
  }

  @media (min-width: 550px) {
    font-size: 16px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  &::before {
    position: absolute;
    content: "";
    left: 5px;
    background-repeat: no-repeat;
  }

  &--materials::before {
    top: -60px;
    width: 33px;
    height: 38px;
    background-image: url("../img/flower.svg");
  }

  &--handmade::before {
    top: -57px;
    width: 35px;
    height: 35px;
    background-image: url("../img/clew.svg");
  }

  &--price::before {
    top: -50px;
    width: 47px;
    height: 27px;
    background-image: url("../img/money.svg");
  }

  &--homeland::before {
    top: -50px;
    width: 55px;
    height: 23px;
    background-image: url("../img/rocket.svg");
  }

  &--likes::before {
    top: -50px;
    width: 34px;
    height: 27px;
    background-image: url("../img/heart.svg");
  }

  &--present::before {
    top: -50px;
    width: 33px;
    height: 33px;
    background-image: url("../img/present.svg");
  }
}

.about-us__item:last-child {
  margin-bottom: 0;
}
