.contacts__list {
  font-size: 14px;
  line-height: 30px;
  color: $color-gray-500;
}

.contacts__item {
  text-transform: lowercase;
}

.contacts__description {
  &--email {
    border-bottom: 1px solid $color-green-200;
  }
}

.contacts__location {
  border: none;
}
