.contacts__wrapper {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: repeat(4, max-content);
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 69px;
  }
}


.contacts__list {
  font-size: 14px;
  line-height: 30px;
  color: $color-gray-500;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    display: flex;
  }
}

.contacts__item {
  text-transform: lowercase;
}

.contacts__link {
  color: $color-gray-500;
  border-bottom: 1px solid $color-green-200;
}

.contacts__location {
  width: 100%;
  border: none;

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
  }
}

.contacts__write-us {
  display: block;
  padding: 12px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 12px 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: auto;
    margin-left: 0;
  }
}
