.development-process__heading {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.development-process__description {
  font-size: 13px;
  line-height: 24px;
  color: $secondary-text;
}

.development-process__button {
  border: none;
  background-color: $transparent;
  box-shadow: none;
}
