.form-group {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    display: grid;
    padding: 0 50px;
    grid-template-columns: 1fr 3fr;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
    grid-template-columns: 1fr 4fr 1fr;
  }

  &--type {
    margin-bottom: 43px;

    @media (min-width: $tablet-width) {
      margin-bottom: 67px;
    }
  }

  &--color {
    @media (min-width: $tablet-width) {
      padding-bottom: 65px;
      grid-template-columns: 1fr 5fr;
    }
  }

  &--customer-name {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 51px;
    }
  }

  &--customer-contacts {
    @media (min-width: $tablet-width) {
      margin-bottom: 49px;
      padding-bottom: 48px;
    }
  }

  &--more {
    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      margin-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 48px;
    }
  }
}

.form-group__heading {
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  position: relative;
  display: block;
  margin-top: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
  color: $color-green-200;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-left: 60px;
  }

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    width: calc(100% - 60px);
    height: 1px;
    margin: auto 0;
    content: "";
    background-color: $color-green-200;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--color {
    margin-bottom: 25px;
  }


  &--customer-name {
    margin-bottom: 29px;
  }

  &--tel {
    margin-bottom: 14px;
  }

  &--email {
    margin-bottom: 14px;

    &::after {
      left: 77px;
      width: calc(100% - 77px);
    }
  }

  &--message {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}
