.form__description {
  font-size: 13px;
  line-height: 24px;
  color: $secondary-text;
}

.form-clarification {
  font-size: 14px;
  line-height: 16px;
  color: $secondary-text;
}

.form__button {
  background-color: $transparent;
}
