.form {
  position: relative;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    background-color: $color-gray-200;
  }

  &--transparent {
    display: grid;
    padding: 0 50px;
    background-color: $transparent;
    grid-template-rows: repeat(2, max-content);

    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop-width) {
      max-width: 1150px;
      margin: 0 auto;
      grid-template-columns: 1fr 2fr 2fr 1fr;
    }
  }
}

.form__fields {
  //display: grid;
  //grid-template-columns: 1fr 1fr;
}


.form__description {
  font-size: 13px;
  line-height: 24px;
  color: $color-gray-500;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 225px;
  }
}

.form__clarification {
  font-size: 14px;
  line-height: 16px;
  margin: 0 auto;
  color: $color-gray-500;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    order: 2;
    margin: auto 0 auto auto;
    grid-template-columns: 3/4;
  }
}

.form__button {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: $transparent;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
    grid-column: 2/3;
  }
}
