.header-wrapper {
  padding-top: 72px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  background-color: $color-gray-200;

  @media (min-width: $tablet-width) {
    padding-top: 155px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

