.input-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &--color {
    @media (min-width: 500px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $tablet-width) {
      grid-column-gap: 23px;
      grid-row-gap: 28px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 88px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 0;
    }
  }

  &--customer-contacts {
    @media (min-width: $tablet-width) {
      display: block;
      grid-column: 1/-1;
    }
  }

  &--customer-name {
    @media (min-width: $desktop-width) {
      grid-column: 2/3;
    }
  }
}

.input-list__item {
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;

    &--color {
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--color {
      &:nth-last-child(-n+3) {
        margin-bottom: 0;
      }
    }
  }

  &--color {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.input-list__label {
  display: flex;
  margin: auto 0;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.input-list__text {
  display: block;
  margin: auto 0;
}
