.input-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &--color {
    @media (min-width: 500px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &--customer-contacts {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: 600px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $tablet-width) {
      display: block;
      grid-column: 1/-1;
    }
  }

  &--customer-name {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $desktop-width) {
      grid-column: 2/3;
    }
  }
}

.input-list__item {
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }
}

.input-list__label {
  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}
