.input-checkbox__label {
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  min-height: 38px;
  padding-left: 61px;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 38px;
    height: 38px;
    margin: auto 0;
    content: "";
    border: 2px solid $color-gray-500;

    @media (min-width: $tablet-width) {
      width: 52px;
      height: 52px;
    }
  }

  &::after {
    position: absolute;
    top: 3px;
    bottom: 0;
    left: 6px;
    display: none;
    width: 32px;
    height: 22px;
    margin: auto 0;
    content: "";
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      top: 2px;
      left: 10px;
      background-size: 100%;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
    min-height: 52px;
    padding-left: 83px;
  }

  &:hover::before {
    border-color: $color-green-200;
  }

  &:active::before {
    opacity: 0.3;
    border-color: $color-black;
  }
}

.input-checkbox__field {
  &:checked + .input-checkbox__label::after {
    display: block;
  }
}
