.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-nav__toggle {
  border: none;
  background-color: $transparent;
  box-shadow: none;
  position: absolute;

  &--open {
    display: none;
  }
}

.main-nav__logo {
  margin-bottom: 22px;
}

.main-nav__link {
  display: block;
  padding: 27px 0;
  color: $color-black;
  border-bottom: 1px solid $color-gray-100;

  &:first-child {
    border-top: 1px solid $color-gray-100;
  }

  &--search {
    order: 3;
    color: $color-black;
  }

  &--cart {
    order: 4;
    color: $color-black;
  }
}

.main-nav__delivery {
  font-size: 15px;
  display: none;
  color: $color-gray-500;
}

.main-nav__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;

  &--offers {
    display: none;
  }
}
