.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(3, max-content);
  }
}

.main-nav__toggle {
  position: absolute;
  border: none;
  background-color: $transparent;
  box-shadow: none;

  &--open {
    display: none;
  }
}

.main-nav__logo {
  margin-bottom: 22px;
}

.main-nav__link {
  display: block;
  padding: 27px 0;
  color: $color-black;
  border-bottom: 1px solid $color-gray-100;

  &:first-child {
    border-top: 1px solid $color-gray-100;
  }

  &--search {
    order: 3;
    color: $color-black;
  }

  &--cart {
    order: 4;
    color: $color-black;
  }

  @media (min-width: $tablet-width) {
    &--search {
      order: 0;
      background-image: url("../img/search.svg");
      background-repeat: no-repeat;
    }

    &--cart {
      order: 0;
      text-align: right;
    }
  }
}

.main-nav__label {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__delivery {
  font-size: 15px;
  display: none;
  color: $color-gray-500;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.main-nav__list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;

  &--offers {
    display: none;
  }

  &--site {
    @media (min-width: $tablet-width) {
      display: flex;
      grid-column: 1/3;
    }
  }
}
