.main-nav {
  width: 100%;
}

.main-nav__toggle {
  border: none;
  box-shadow: none;
  background-color: $transparent;
}

.main-nav__search {
  color: $color-black;
}

.main-nav__cart {
  color: $color-black;
}

.main-nav__delivery {
  font-size: 15px;
  color: $color-gray-500;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  color: $color-black;
}
