.offers-list__item {
  @media (min-width: $tablet-width) {
    margin-right: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 63px;
  }
}

.offers-list__link {
  font-size: 15px;
  line-height: 24px;
}

.offers-list__link {
  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 17px;
  }
}
