.page-main__wrapper {
  background-color: $color-gray-200;
}

.page-main__title {
  margin: 0 auto;
  padding-bottom: 72px;
  text-align: center;

  &--index {
    max-width: 350px;
    margin: 0 auto;
    padding-bottom: 120px;

    @media (min-width: $tablet-width) {
      max-width: 509px;
      padding-bottom: 372px;
    }

    @media (min-width: $desktop-width) {
      max-width: 700px;
    }
  }

  &--form {
    max-width: 550px;

    @media (min-width: $tablet-width) {
      max-width: 700px;
    }

    @media (min-width: $desktop-width) {
      max-width: 900px;
      padding-bottom: 95px;
    }
  }
}

.page-main__header-wrapper {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  background-color: $color-gray-200;

  &--index {
    padding-top: 72px;

    @media (min-width: $tablet-width) {
      padding-top: 155px;
      padding-right: 50px;
      padding-left: 50px;
    }
  }

  &--form {
    padding-top: 72px;

    @media (min-width: $tablet-width) {
      padding-top: 100px;
    }
  }

  &--catalog {
    padding-top: 72px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 100px;
  }
}

.page-main__catalog-wrapper {
  padding: 0 30px;
  margin: 0 auto;
}
