.page-footer {
  background-color: $color-gray-200;
}

.page-footer__wrapper {
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__developer-label {
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: $color-black;
}
