.page-main__wrapper {
  background-color: $color-gray-200;
  //todo разобраться с фоновым изображением
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -20px;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: url("../img/hero-image.jpg");
  }
}

.page-main__title {
  margin: 0 auto;
  padding-bottom: 72px;
  text-align: center;

  &--index {
    max-width: 350px;
    margin: 0 auto;
    padding-bottom: 120px;

    @media (min-width: $tablet-width) {
      max-width: 509px;
      padding-bottom: 372px;
    }

    @media (min-width: $desktop-width) {
      max-width: 700px;
    }
  }

  &--form {
    max-width: 550px;

    @media (min-width: $tablet-width) {
      max-width: 700px;
    }

    @media (min-width: $desktop-width) {
      max-width: 900px;
      padding-bottom: 95px;
    }
  }
}

.page-main__header-wrapper {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;

  &--index {
    padding-top: 72px;

    @media (min-width: $tablet-width) {
      padding-top: 155px;
      padding-right: 50px;
      padding-left: 50px;
    }
  }

  &--form {
    padding-top: 72px;

    @media (min-width: $tablet-width) {
      padding-top: 100px;
    }
  }

  &--catalog {
    margin-bottom: 30px;
    padding-top: 72px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
    padding-top: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 111px;
  }
}

.page-main__catalog-item {
  margin: 0 auto 30px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1150px;
  }

  &--development {
    margin: 0 30px;
    padding: 22px 0 0;

    @media (min-width: $tablet-width) {
      margin: 0 50px;
    }

    @media (min-width: $desktop-width) {
      max-width: 1050px;
      margin: 0 auto;
    }
  }
}
