.page-main__title {
  margin: 0;
  padding-bottom: 72px;

  &--index {
    padding-bottom: 120px;
    margin: 0 auto;
    max-width: 248px;

    @media (min-width: $tablet-width) {
      padding-right: 80px;
      padding-bottom: 372px;
      padding-left: 80px;
      max-width: 768px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 175px;
      padding-right: 175px;
    }
  }
}
