.products__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  //@media (min-width: 590px) {
  //  display: flex;
  //  flex-wrap: wrap;
  //  justify-content: space-between;
  //  max-width: none;
  //  margin: 0;
  //}
}

.products__item {
  border: 1px solid $color-gray-100;
  width: 260px;

  @media (min-width: 510px) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, max-content);
    margin: 0;
  }
}

.products__link {
  &--image {
    grid-row: 1/-1;
    width: 260px;

    @media (min-width: $tablet-width) {
      width: 334px;
      height: 334px;
    }
  }
}

.products__image {
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }
}

.products__name {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 28px;
  color: $color-black;
}

.products__description {
  font-size: 13px;
  line-height: 30px;
  margin: 0 28px;
  color: $color-gray-500;
}

.products__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 28px;
}
