.products-categories {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.products-categories__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin: 0 auto;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    padding: 0;
  }
}

.products-categories__item {
  @media (min-width: $tablet-width) {
    width: 50%;
  }

  &--interior {
    background-color: $color-green-200;
  }

  &--toys {
    background-color: $color-green-300;
  }
}

.products-categories__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-left: 30px;
  color: $color-white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 25px;
    padding-bottom: 24px;
    padding-left: 36px;
  }
}
