.site-list__item {
  @media (min-width: $tablet-width) {
    margin-right: 37px;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 71px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.site-list__link {
  @media (min-width: $tablet-width) {
    display: block;
    padding: 22px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 34px 0;
  }
}
