.text-input {
  font-size: 17px;
  font-weight: 700;
  position: relative;

  &--name {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      display: flex;
      margin-bottom: 38px;
    }
  }

  &--phone {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      display: grid;
      margin-bottom: 38px;
      grid-template-columns: 1fr 3fr;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 4fr 1fr;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--email {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 4fr 1fr;
    }
  }
}


.text-input__label {
  line-height: 18px;
  display: block;
  margin-bottom: 13px;

  @media (min-width: 500px) {
    display: inline-block;
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
    margin-right: 24px;
  }
}

.text-input__icon {
  position: absolute;

  &--tel {
    right: 7px;

    @media (min-width: $tablet-width) {
      top: -4px;
      right: 27px;
    }

    @media (min-width: $desktop-width) {
      right: 183px;
    }
  }

  &--email {
    right: 3px;
    bottom: 15px;
    fill: $color-black;

    @media (min-width: $tablet-width) {
      right: 22px;
      bottom: 17px;
    }

    @media (min-width: $desktop-width) {
      right: 179px;
    }
  }
}

.text-input__field {
  font-family: $font-stack;
  font-size: 17px;
  line-height: 24px;
  width: 100%;
  padding-bottom: 11px;
  color: $color-gray-500;
  border: none;
  border-bottom: 2px solid $color-black;
  outline: none;
  background-color: $transparent;

  &::placeholder {
    opacity: 0.3;
    color: $color-black;

    @media (min-width: $tablet-width) {
      font-size: 19px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-right: 0;
    padding-left: 21px;
  }

  &--tel {
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
      padding-bottom: 11px;
      padding-left: 17px;
    }
  }

  &--email {
    padding-bottom: 15px;
  }

  &--message {
    line-height: 18px;
    min-height: 142px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-left: 15px;
    resize: none;
    border: 2px solid $color-black;
  }

  &:hover,
  &:focus {
    border-color: $color-green-200;
  }

  &:hover + .text-input__icon,
  &:focus + .text-input__icon {
    opacity: 1;
    fill: $color-green-200;
  }
}
