//Fonts
$font-stack: "Open Sans", "Arial", sans-serif;

//-----------
// COLORS----
//-----------

//Global
$basic-background: #ffffff;
$secondary-text: #444444;
$third-text: #ffffff;
$subtitle: #63d1bb;
$burger-button: #231f20;
$element-outline: #ececec;
$section-background: #f1f1f1;
$form-placeholder: #b3b3b3;
$about-icons: #63d1bb;

//Text
$basic-text: #000000;
$basic-text-hover: rgba(#000000, 60%);
$basic-text-active: rgba(#000000, 30%);

//Buttons
$button: #444444;
$button-active: rgba(#ffffff, 30%);
$button-arrow-hover: rgba(#ffffff, 60%);
$button-arrow-active: rgba(#ffffff, 30%);

//Icons
$icons: #cccccc;
$icons-hover: #63d1bb;
$icons-active: rgba(#63d1bb, 30%);

//Product-category
$product-category-1: #63d1bb;
$product-category-1-hover: #59d5bc;
$product-category-2: #56c3b2;
$product-category-2-hover: #46c1ae;

//Link
$link-hover: #46c1ae;
$link-outline: #62d1ba;
$link-hover-outline: #46c1ae;
$link-hover-active: rgba(#46c1ae, 10%);

//Input
$input-outline: #444444;
$input-outline-state :#62d1ba;
